

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.carousel-indicators {
	top: 102%;	
}


.carousel-indicators li {
    border: 1px solid #666666;
    width: 15px;
    height: 15px;
}

.carousel-indicators .active {
    background-color: #666666;
    width: 16px;
    height: 16px;
}

/* 
Make the Facebook Like box responsive (fluid width)
https://developers.facebook.com/docs/reference/plugins/like-box/ 
*/

/* 
This element holds injected scripts inside iframes that in 
some cases may stretch layouts. So, we're just hiding it. 
*/

#fb-root {
    display: none;
}

/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

.maps{
	padding: 0px;
	width:100%;
}

.venha{
	background:none repeat scroll 0 0 #0099CB;
	padding: 0 400px;
}

.contato{
	background:none repeat scroll 0 0 #3072AF;
	padding: 0px;
}

.rodape{
	background:none repeat scroll 0 0 #003366;
	padding: 10px;
}
