

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,body
{
  height: 100%;
}

@font-face {
    font-family: 'century_gothicregular';
    src: url('../fonts/century_gothic/century_gothic-webfont.eot');
    src: url('../fonts/century_gothic/century_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/century_gothic/century_gothic-webfont.woff') format('woff'),
         url('../fonts/century_gothic/century_gothic-webfont.ttf') format('truetype'),
         url('../fonts/century_gothic/century_gothic-webfont.svg#century_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body * {
font-family:'century_gothicregular';
}

.carousel-caption {
    padding-bottom: 10%;
    position: absolute;
    left: 20%;
    text-align: left;
}

.carousel-indicators {
	top: 102%;	
}

.carousel-indicators li {
    border: 1px solid #666666;
    width: 15px;
    height: 15px;
}

.carousel-indicators .active {
    background-color: #666666;
    width: 16px;
    height: 16px;
}

.well {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
    margin-bottom: 0;
    opacity:0.9;
    filter:alpha(opacity=90);
}

.dropdown-menu {
    background-color: #006699 !important;
}

.dropdown-menu > li > a {
     color: #FFFFFF;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #006699;
    color: #FFFFFF;
    text-decoration: none;
}

.nav > li > a {
    color: #8C8C8C;
    padding-bottom: 5px;
    padding-top: 5px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #003366;
    color: #FFFFFF;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #003366;
    border-color: none;
}

/* 
Make the Facebook Like box responsive (fluid width)
https://developers.facebook.com/docs/reference/plugins/like-box/ 
*/

/* 
This element holds injected scripts inside iframes that in 
some cases may stretch layouts. So, we're just hiding it. 
*/

#fb-root {
    display: none;
}

/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

.maps {
	padding: 0px;
	max-width:100%;
    width: 100%;
}

.venha {
	background:none repeat scroll 0 0 #0099CB;
}

.venha-title {
    position: inherit;
    color: #FFF;
}

.contato {
	background:none repeat scroll 0 0 #3072AF;
	padding: 0px;
}

.rodape {
	background:none repeat scroll 0 0 #003366;
	padding: 10px;
}

.portifolio-item {
    margin: -3px 0px;
    padding: 0px;
}

.menssegerbox {
    background: url("../img/menssegerbox.png") center no-repeat scroll rgba(0, 0, 0, 0);
    padding: 4% 0 6% 0;
}

.servicos h3{
    color: #999999;
}
footer * {
    color: #FFF;
}
footer .input-lg{
    border-radius: 0px;
    background-color: #275E8F;
    color: #9BB5CB;
    border-color: rgba(0, 0, 0, 0)
}
.navbar .container{
    background: url(../img/topo.png) right top no-repeat;
}
ul.nav{
    font-size: 1.3em;
    font-weight: bold;
}

.inicio-aspas{
    background: url(../img/inicio-aspas.png) top no-repeat;
    min-height: 21px;
}
.fim-aspas{
    background: url(../img/fim-aspas.png) bottom no-repeat;
    min-height: 21px;
}

.navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-inverse{
    background-color: #0099CB;
    border: 1px solid #FFF;
}

.img-home-portfolio, .img-plus-portfolio{
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
}
.portifolio-item a:hover > .img-home-portfolio{
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.portifolio-item a:hover > .img-plus-portfolio {
    opacity: 1;
    top: 42%;
    left: 42%;
}

.portifolio-item{
    background-color: #000;
}
.img-plus-portfolio{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.servico-hidden{
    display: none;
}
.servico-hidden p{
    max-width: 727px;
}
.solicite-lg, .solicite-xs{
    letter-spacing: -2px;
    color: #83B100;
}
.servico-hidden .btn-default{
    border-radius: 0;
    color: #83B100;
    border-color: #83B100;
}
.servico-hidden .btn-default:hover{
    color: #FFF;
    background-color: #83B100;
}
.fancybox-wrap{
    border: 15px solid rgba(0,0,0,0.5) !important;
    width: 100%;
}
.fancybox-close {
    background-image: url(../img/fancy-close.png) !important;
    margin-top: -33px;
    right: -15px !important;
}
.fancybox-inner{
    width: 100% !important;
}
.servico-hidden.show {
    position: absolute;
    top: 0;
}
.portifolio-item-solicitar {
    background-color: #83B100;
}
.portifolio-item-solicitar h1 {
    color: #FFF;
}
.portifolio-item-solicitar .btn-default{
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFF;
}
.portifolio-item-solicitar .btn-default:hover{
    background-color: #FFF;
    color: #83B100;
}
.quotes-lg {
    font-size: 5em;
    font-family: "times new roman";
    color: #3162AC;
    font-weight: bold;
}

address, .facebook-icon {
    display: inline-block !important;
    vertical-align: top !important;
}
.facebook-icon {
    margin-bottom: 15px;
}
.contact-form {
    padding: 0;
}
.section-initial{
    padding-top: 0;
}
.open-map{
    cursor: pointer;
}
.collapse.navbar-collapse.navbar-ex1-collapse.visible-xs {
    display: none !important;
}
.navbar-collapse{
    overflow: hidden;
}